<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>react</title>
    <script src="bower_components/react/react.js"></script>
    <script src="bower_components/react/react-dom.js"></script>
    <script src="http://cdn.bootcss.com/babel-core/5.8.38/browser.min.js"></script>
</head>
<body>
<div id="app"></div>
<script type="text/babel">
    var MessageBox = React.createClass({
        render : function(){
            var subMessages = [];
            for(var ii=0 ; ii < 10; ii++){
                subMessages.push(<SubMessage key={'subMessage'+ii}/>)
            }
            return (
                    <div>
                        <h1>你好世界!!!</h1>
                        {subMessages}
                    </div>
            )
        }
    });

    var SubMessage = React.createClass({
        render : function(){
            return (
                    <div>
                        <h3>it's good</h3>
                        <Footer/>
                    </div>
            )
        }
    });

    var Footer = React.createClass({
        render : function(){
            return (<small>底部小组件！！！</small>)
        }
    });
    ReactDOM.render(
            <MessageBox />,
            document.getElementById('app'),
            function(){
                console.log('渲染完成');
            }
    );
</script>
</body>
</html>